#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

/* Card */
.content{
    /* color: #FFFFFF; */
    height: 200px;
    width: 200px;
    font-size: 26px;
    /* text-shadow: -1px -1px 1px #000, 1px 1px 1px #000; */
    position: relative;
    z-index: 100;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}